@import 'materialize-css/dist/css/materialize';
// Sticky Footer.
// A sticky footer always stays on the bottom of the page regardless of how
// little content is on the page.
// However, this footer will be pushed down if there is a lot of content,
// so it is different from a fixed footer.
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

// Ensure page context displayed right after sidenav.
header, main, footer {
  padding-left: 300px;
}
